<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      <!--<%= link_to (t(:delete)), "/admin/users/#{user.id}", method: :delete, data: { confirm: (t :remove_confirmation) } %>-->
      <%= link_to (t(:delete)), [:admin, user], method: :delete, data: { confirm: (t :remove_confirmation) } %>
  <% end %>
</li>